@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --value: 50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dynamic-width {
  width: calc(var(--value) * 1%);
  background-color: #3b82f6; /* Tailwind blue-500 */
  height: 20px;
  transition: width 0.3s ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}